* {
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
}


body h1 {
    color: #06774d;
    display: block;
    background-color: white;
}

body {
    padding: 10px;
    background-color: silver;
    font-family: 'josefin Sans', sans-serif;
}

.developers {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    padding: 20px;

}

.developers h3 {
    color: darkcyan;
    font-size: 22px;
    margin-top: 50px;
}

.developers p.position {
    color: teal;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
}

.developers img {
    border-radius: 50px;
}

.com {
    background-color: whitesmoke;
    font-size: large;
    color: black;


}

.com .b {
    color: blue;
}

.com .r {
    color: red;
}

pre {
    background-color: whitesmoke;
    font-size: large;
    color: black;
}

.technical h2 {
    padding: top 10px;
    ;
}

.erd embed {
    margin-left: auto;
    margin-right: auto;
    position: relative;

}



.vertical-menu {
    width: 100%;
    /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee;
    /* Grey background color */
    color: #06774d;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
}

.vertical-menu a:hover {
    background-color: silver;
    /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #ffffff;
    /* Add a green color to the "active/current" link */
    color: #06774d;
    font-weight: bolder;
    font-size: 32px;

}